:root {
  --clr-dark: #1f2937;
  --clr-whitish: #e5e7eb;
  --clr-white: #f9faf8;

  --fs-md: 1.333rem;
  --fs-lg: 2rem;
  --fs-xlg: 2.667rem;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--clr-white);
}
