:root {
  --clr-dark: #1f2937;
  --clr-whitish: #e5e7eb;
  --clr-white: #f9faf8;

  --fs-md: 1.333rem;
  --fs-lg: 2rem;
  --fs-xlg: 2.667rem;
}

.container {
  padding-inline: 20px;
  margin-inline: auto;
}
@media (min-width: 767px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 991px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--clr-white);
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-header {
  height: 100px;
  padding: 2rem 0;
  background-color: var(--clr-dark);
}

.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.main-header .logo {
  font-size: var(--fs-md);
  font-weight: bold;
}

.main-header nav ul {
  display: flex;
  gap: 2rem;
}
@media (max-width: 768px) {
  .main-header nav ul {
    position: absolute;
    flex-direction: column;
    width: 200px;
    right: 20px;
    top: 40px;
    padding: 20px 30px;
    background-color: #151b25;
    opacity: 1;
    transition: all 1s cubic-bezier(0, 0.3, 0.58, 1);
  }
  .main-header nav ul.hidden {
    transform: scale(0);
    opacity: 0;
    transform: translateY(-300px);
  }
}
.main-header nav .links-btn {
  display: none;
  align-items: flex-end;
  flex-direction: column;
  width: 40px;
  gap: 5px;
}
@media (max-width: 768px) {
  .main-header nav .links-btn {
    display: flex;
  }
}
.main-header nav .links-btn span {
  display: block;
  height: 2px;
  background-color: white;
  flex: auto;
  transition: width 300ms ease-in;
}
.main-header nav .links-btn span:first-of-type {
  width: 100%;
}
.main-header nav .links-btn span:nth-of-type(2) {
  width: 50%;
}
.main-header nav .links-btn span:last-of-type {
  width: 25%;
}
.main-header nav .links-btn.active span:nth-of-type(2),
.main-header nav .links-btn.active span:last-of-type {
  width: 100%;
}
.landing {
  background-color: var(--clr-dark);
  min-height: calc(100vh - 100px);
}
.landing .container {
  display: flex;
  gap: 20px;
  padding-top: 30px;
}
@media (max-width: 768px) {
  .landing .container {
    flex-direction: column-reverse;
  }
}
.landing .container article h1 {
  font-size: var(--fs-xlg);
  line-height: 1.1;
  margin-bottom: 20px;
}
